@import url('./index');

/* The page width is less than 576px
------------------------------- */
@media screen and (max-width: $xs) {
  .el-pager,
  .el-pagination__jump {
    display: none !important;
  }
}

.el-pagination {
  justify-content: flex-end;
  text-align: center !important;
}
