@font-face {
  font-family: "iconfont"; /* Project id 4098831 */
  src: url('iconfont.woff2?t=1686017278254') format('woff2'),
       url('iconfont.woff?t=1686017278254') format('woff'),
       url('iconfont.ttf?t=1686017278254') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dian:before {
  content: "\e608";
}

.icon-fuwuqiguanli:before {
  content: "\e730";
}

.icon-rongqi:before {
  content: "\e609";
}

.icon-chakan:before {
  content: "\e600";
}

.icon-jiankong:before {
  content: "\e69e";
}

.icon-jichuguanli:before {
  content: "\eb63";
}

.icon-jiedian:before {
  content: "\e614";
}

.icon-guizeguanli:before {
  content: "\e663";
}

.icon-jiankangzhenduan:before {
  content: "\e689";
}

.icon-jieguo:before {
  content: "\e62f";
}

.icon-jiqun:before {
  content: "\e68a";
}

.icon-jieguojiancha:before {
  content: "\e605";
}

