@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1684812791262') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chakan:before {
  content: "\e544";
}

.icon-jiankong:before {
  content: "\e69e";
}

.icon-jichuguanli:before {
  content: "\eb63";
}

.icon-jiedian:before {
  content: "\e614";
}

.icon-guizeguanli:before {
  content: "\e663";
}

.icon-jiankangzhenduan:before {
  content: "\e689";
}

.icon-jieguo:before {
  content: "\e62f";
}

.icon-jiqun:before {
  content: "\e68a";
}

.icon-jieguojiancha:before {
  content: "\e605";
}

