/* Button
------------------------------- */
// Third party font icon size
.el-button i.el-icon,
.el-button i.iconfont,
.el-button i.fa,
.el-button--default i.iconfont,
.el-button--default i.fa {
  margin-right: 5px;
  font-size: 14px !important;
}

.el-button--small i.iconfont,
.el-button--small i.fa {
  margin-right: 5px;
  font-size: 12px !important;
}

/* Input
------------------------------- */
.el-input {
  height: 100%;
}

/* Form
------------------------------- */
.el-form {
  .el-form-item:last-of-type {
    margin-bottom: 0 !important;
  }
}

/* Alert
------------------------------- */
.el-alert {
  border: 1px solid;
}

.el-alert__title {
  word-break: break-all;
}

/* Message
------------------------------- */
.el-message {
  padding: 15px !important;
  min-width: unset !important;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 2%);
}

/* Tabs
------------------------------- */
.el-tabs__nav-wrap::after {
  height: 1px !important;
}

/* Dropdown
------------------------------- */
.el-dropdown-menu {
  list-style: none !important;
}

.el-dropdown-menu .el-dropdown-menu__item {
  white-space: nowrap;

  &:not(.is-disabled):hover {
    color: var(--el-dropdown-menuItem-hover-color);
    background-color: var(--el-dropdown-menuItem-hover-fill);
  }
}

/* Steps
------------------------------- */
.el-step__icon-inner {
  font-size: 30px !important;
  font-weight: 400 !important;
}

.el-step__title {
  font-size: 14px;
}

/* Dialog
------------------------------- */
.el-overlay {
  overflow: hidden;

  .el-overlay-dialog {
    position: unset !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .el-dialog {
      position: absolute;
      margin: 0 auto !important;

      .el-dialog__body {
        padding: 20px !important;
      }
    }
  }
}

.el-dialog__body {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(90vh - 111px) !important;
}

/* Card
------------------------------- */
.el-card__header {
  padding: 15px 20px;
}
