.el-button {
  &.is-disabled {
    color: var(--el-color-info-light-5);
    background-color: var(--el-color-info-light-9);
    border-color: var(--el-color-info-light-8);

    &:hover {
      color: var(--el-color-info-light-5);
      background-color: var(--el-color-info-light-9);
      border-color: var(--el-color-info-light-8);
    }
  }
}

.el-dialog {
  .el-dialog__header {
    display: flex;
    align-items: center;
    margin-right: 0;
    border-bottom: 1px solid #e0e0e0;

    .title {
      font-weight: 700;
    }
  }

  /* stylelint-disable-next-line block-no-empty */
  .el-dialog__body {
  }

  .el-dialog__footer {
    border-top: 1px solid #e0e0e0;
  }
}
