:root {
  font-size: 16px;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgb(50 50 50 / 87%);
  background-color: #f8f8f8;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  line-height: 24px;
  color-scheme: light dark;
  font-synthesis: none;

  --nav--bg-color: #545c64;
  --menu-text-color: #eaeaea;
  --menu-text-active-color: #ffd04b;
  --header-bg-color: #fff;
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}
