/* stylelint-disable property-no-vendor-prefix */
.waves-effect {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  transition: all 0.3s ease-out;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  will-change: opacity, transform;
}
