/* stylelint-disable property-no-vendor-prefix */
.waves-effect {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  transition: all 0.3s ease-out;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  will-change: opacity, transform;
}

.waves-effect .waves-ripple {
  position: absolute;
  margin-top: -10px;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  background: rgb(0 0 0 / 20%);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.7s ease-out;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background-color: rgb(255 255 255 / 45%);
}

.waves-effect.waves-red .waves-ripple {
  background-color: rgb(244 67 54 / 70%);
}

.waves-effect.waves-yellow .waves-ripple {
  background-color: rgb(255 235 59 / 70%);
}

.waves-effect.waves-orange .waves-ripple {
  background-color: rgb(255 152 0 / 70%);
}

.waves-effect.waves-purple .waves-ripple {
  background-color: rgb(156 39 176 / 70%);
}

.waves-effect.waves-green .waves-ripple {
  background-color: rgb(76 175 80 / 70%);
}

.waves-effect.waves-teal .waves-ripple {
  background-color: rgb(0 150 136 / 70%);
}

.waves-effect input[type='button'],
.waves-effect input[type='reset'],
.waves-effect input[type='submit'] {
  font-size: inherit;
  background: none;
  border: 0;
  font-style: normal;
  text-transform: inherit;
}
